@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Bar */

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #15270c;
  border-radius: 10px;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

/* Firefox */
.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #15270c transparent;
}

/* Flip Card */

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
